out/
target/
logs/

.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

schemacrawler-report.html
/src/main/resources/application.properties

.vscode/
/src/main/resources/application-local.yml
